body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: dodgerblue;
  border-radius: 2px;
  width: 100%;
 }


.navbar a {
  color: white;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: grey;
}

